form#pass.form.xlarge-60.large-80.medium-100.small-100.tiny-100( name="pass", ng-submit="save()" )
	.overflow.half-bottom-space
		h4.push-left= gettext('cambia tus configuraciones de seguridad y privacidad')
		button.button.green.push-right(type="submit")= gettext('guardar')
	if me.isValidPassword(me._id.toString())
		p= gettext('cambie la contraseña')
	.control-group.ng-column-group.ng-gutters
		label.xlarge-30.large-30.medium-30.small-100.tiny-100.tiny-align-left.small-align-left.align-right( for="npass" )= gettext('nueva contrasena')
		.control.xlarge-70.large-50.medium-70.small-100.tiny-100
			.control
				input#npass(
					type="password",
					name="npass",
					ng-model="acc.npass",
					ng-required="true",
					ng-Minlength="4" )
			.section( ng-messages="pass.npass.$error" )
				p.tip( ng-message="minlength")= gettext('coloque una constrasena mas fuerte')
			
	.control-group.ng-column-group.ng-gutters
		label.xlarge-30.large-30.medium-30.small-100.tiny-100.tiny-align-left.small-align-left.align-right( for="rpass" )= gettext('repita contrasena')
		.control.xlarge-70.large-50.medium-70.small-100.tiny-100
			.control
				input#rpass(
					type="password",
					name="rpass",
					ng-model="acc.rpass",
					re-pass="npass",
					ng-disabled="pass.npass.$invalid",
					ng-Minlength="4",
					is-equivual="acc.npass" )
				.section( ng-messages="ppass.rpass.$error" )
					p.tip( ng-message="minlength")= gettext('coloque una constrasena mas fuerte')
