extends ../../../api/views/7525
include ../../../glph/views/mixins
include ../../../api/views/mixins

block before

block small
	h3( view-title )= gettext('sell')
	section.all-100( ng-controller="download", ng-hide="!$parent.more.length")
		article.ng-column-group.vertical-space
			section.term
				.all-50= gettext('subtotal')
				.all-50.align-right {{total() | currency }}
			section.term( ng-show="sistem >= 0" )
				.all-50= gettext('impuestos')
				.all-50.align-right {{ methods[sistem].tax  * 100 | number }}%
			section.term( ng-show="sistem >= 0" )
				.all-50= gettext('total')
				.all-50.align-right {{ total() - ( ( total() * methods[sistem].tax ) + methods[sistem].more ) | currency }}

		article.form
			.control-group
				p.label= gettext('descargar a')
				.control.push-center
					.button-group.push-center
						label.button.medium( ng-repeat="method in methods", for="{{method.look}}", class="{{sistem === $index ? 'green' : 'white' }} all-{{size()}}" )
							input.ng-hide( type="radio", ng-value="$index", id="{{method.look}}", ng-model="$parent.sistem", name="sistem" )
							i.icon.icon-lg( class="icon-{{method.class}}" )
							= '{{method.name}}'
				p.half-space.align-center(ng-show="methods[sistem].name === 'card'")
					i.icon.icon-cc-mastercard.half-left-space.icon-2x
					i.icon.icon-cc-visa.half-left-space.icon-2x
					i.icon.icon-cc-amex.half-left-space.icon-2x
					i.icon.icon-cc-discover.half-left-space.icon-2x
			button.button.green.all-100.no-margin( ng-disabled="!methods[sistem] || isOk()", ng-click="download()" )= gettext('descargar')
	.vertical-space( ng-controller="tables", ng-show="items.length")
		h4= gettext('dinero descargado')
		table.ng-table
			thead
				tr
					th= gettext('fecha')
					th= gettext('total')
					th= gettext('status')
			tbody
				tr.a( ng-repeat="row in items", ng-click="goTo($index)" )
					td {{row.dateCr | amCalendar}}
					td {{row.price | currency }}
					td: span.label( class="{{row.color}}" ) {{row.status}}

block contents
	.ng-column-group.ng-gutters.top-space( deckgrid=true, source="items", cardTemplate="#{GLOBAL.CONFIG.servers.shop.url}#{sessionID}.out-card" )
	section(ng-show="!items.length", ng-event="checkout" )
		h4.align-center.uppercase.fw-100= gettext('no exiten articulos vendidos')
	+template( 'angular', 'follow' )
		a( ng-click="follow()", ng-show="isFollow" )= gettext('seguir')
		a( ng-click="block()", ng-show="!isFollow" )= gettext('bloquear')
