extends lay

block smalls
	article( ng-controller="Creator")
		form.form.column(action= GLOBAL.CONFIG.servers.auth.url + link , method="POST", name="create" )
			input.hide-all( type="text", name="sec", value= sessionID )
			ol.unstyled( re-input="pass,repass" )
				ng-progress.no-margin( total=2, progress="step", color='classes()' )
					span= gettext('cambia la contrasena')
				li.control-group.validation( ng-show="step == 0", ng-class="{ warning : create.pass.$dirty && create.pass.$invalid }" )
					.control.append-button
						span: input#pass.big(
							type="password",
							name="pass",
							ng-model="user.pass",
							title= gettext("contrasena"),
							placeholder= gettext("contrasena"),
							ng-Required="true",
							ng-Minlength="4" )
						button.button.white.big(ng-click="nexts()", ng-disabled="create.pass.$invalid")
							i.icon.icon-arrow-right
					.section( ng-messages="create.pass.$error" )
						p.tip( ng-message="required")= gettext('coloque una constrasena')
						p.tip( ng-message="minlength")= gettext('coloque una constrasena mas fuerte')
				li.control-group.validation( ng-show="step == 1", ng-class="{ warning : create.repass.$dirty && create.repass.$invalid }" )
					.control.append-button.prepend-button
						button.button.white.big(ng-click="back()" )
							i.icon.icon-arrow-left
						span: input#repass.big(
							type="password",
							name="repass",
							ng-model="user.repass",
							title= gettext("contrasena"),
							placeholder= gettext("contrasena"),
							re-pass="user.pass",
							ng-Required="true",
							ng-Minlength="4" )
						button.button.white.big( type="submit", ng-click="nexts()", ng-disabled="!create.$valid"  )
							i.icon.icon-arrow-right
					.section( ng-messages="create.repass.$error" )
						p.tip( ng-message="required")= gettext('vuelva a colocar la constrasena')
						p.tip( ng-message="minlength")= gettext('coloque una constrasena mas fuerte')
						p.tip( ng-message="matchs")= gettext('seguro que esa es la constrasena')
