h3( view-title )= gettext('importa tus audio')
ul.unstyled
	li.bottom-space: a(href="#{GLOBAL.CONFIG.servers.auth.url}soundcloud" )
		img(src=cacheLink("soundcloud-175x.png"), alt="SoundCloud")
	//-li.all-25: a(href="#{GLOBAL.CONFIG.servers.auth.url}aol" )
		img.all-100(src=cacheLink("aol-x175.png"), alt="Aol")