h3( view-title )= gettext('importa tus imagenes')
ul.unstyled
	li.bottom-space: a(href="#{GLOBAL.CONFIG.servers.auth.url}flickr" )
		img(src=cacheLink("flickr-175x.png"), alt="Flickr")
	//-li.all-25: a(href="#{GLOBAL.CONFIG.servers.auth.url}aol" )
		img.all-100(src=cacheLink("aol-x175.png"), alt="Aol")